<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <div>Order table</div>
    <table>
        <tr>
            <th>customer_id</th>
            <th>inventory_id</th>
            <th>item_name</th>
            <th>quantity</th>
        </tr>
        <% findOrder.map((e)=>{ %>
            <div>
                <tr>
                    <td>
                        <%= e._id %>
                    </td>
                    <td>
                        <%= e._id %>
                    </td>
                    <td>
                        <%= e.item_name %>
                    </td>
                    <td>
                        <%= e.quantity %>
                    </td>
                </tr>
            </div>
            <%})%>
    </table>
</body>
</html>